html{
    background-color: brown;
    color: tan;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    background-color: brown;
    height: 90px;
    font-size: 80px;
    border-radius: 30px;
}

li{
    border-radius: 30px;
    color: antiquewhite;
    display: inline-block;
    margin-top: 0px;
    transition:transform ease-out .3s;
    text-align: center;
    background-color: brown;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li:hover{
    transform: scale(1.2);
}

.container{
    padding: 70px;
    padding-top: 10px;
    height: 2300px;
    background-color: bisque
}

ul{
    height: 60px;
    position: sticky; top: 0;
    text-align: center;
    line-height: normal;
    background-color: brown;
    border-radius: 30px;
}

p{
    font-size: medium;
    color: brown;
}

a{
    color: antiquewhite;
}